.rowHeader,
.techHeader,
.developerHeader,
.row {
  display: flex;
}

.tech,
.techHeader {
  width: 50vw;
}

.hw15Wrapper {
  opacity: 0.4;
}

.spinnerStyle {
  position: absolute;
  z-index: 1;
  margin: 11% 30%;
}

.rowHeader {
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  font-weight: bold;
  text-transform: capitalize;
}

.rowHeader img {
  width: 20px;
  height: 25px;
}

.techHeader {
}

.developer {
}

.developerHeader {
}

.row {
}

.loading {
}

