.rowHeader,
.techHeader,
.developerHeader,
.row,
.spinnerStyle {
  display: flex;
}

.tech,
.techHeader {
  width: 50vw;
}

.opacity {
  opacity: 0.4;
}

.hw15Wrapper {
  position: relative;
}

.spinnerStyle {
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.rowHeader {
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  font-weight: bold;
  text-transform: capitalize;
}

.rowHeader img {
  width: 20px;
  height: 25px;
}

.techHeader {
}

.developer {
}

.developerHeader {
}

.row {
}

.loading {
}
